node_modules/
client/bower_components/
client_ng2/node_modules/
client_ng2/app/*.js
client_ng2/app/*.map
logs/*
!.gitkeep
bower_components/
.DS_Store
.idea
.project
build
*/**/Thumbs.db
*.iml
/.idea
*.log
client_ng2/app/emails/email.js
client_ng2/app/emails/email.js.map
client_ng2/app/emails/address.js
client_ng2/app/emails/address.js.map
client_ng2/app/emails/email.service.js
client_ng2/app/emails/email.service.js.map
