node_modules/
client/bower_components/
logs/*
!.gitkeep
bower_components/
.DS_Store
.idea
.project
build
*/**/Thumbs.db
*.iml
*/**/node_modules

client_ng2/typings/**
client_ng2/node_modules
client_ng2/jspm_packages
client_ng2/link-checker-results.txt
client_ng2/**/*npm-debug.log.*
client_ng2/*.js
client_ng2/*.js.map
client_ng2/_test-output
client_ng2/_temp

!client_ng2/**/*e2e-spec.js
!client_ng2/karma*.js
!client_ng2/protractor*.js
!client_ng2/systemjs.config.js
!client_ng2/typings/typings.d.ts
!client_ng2/wallaby.js