<button (click)="goBack()">
    <md-icon class="md-24">arrow_back</md-icon>
</button>
<md-card-subtitle>{{email?.date}}</md-card-subtitle>
<md-card-title>{{email?.subject}}</md-card-title>
<md-card-subtitle>From: {{email?.from}}</md-card-subtitle>
<md-card-subtitle>To: {{email?.to}}</md-card-subtitle>
<md-card-content>
    <p *ngIf="!email?.html">{{email?.text}}</p>
    <p *ngIf="email?.html" [innerHTML]="email?.html">{{email?.html}}</p>
</md-card-content>
<md-card-actions>
    <button md-icon-button>
        <md-icon class="md-24">reply</md-icon>
    </button>
    <button md-icon-button>
        <md-icon class="md-24">reply_all</md-icon>
    </button>
    <button md-icon-button>
        <md-icon class="md-24">forward</md-icon>
    </button>
</md-card-actions>
