<md-sidenav-layout>
    <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
        <md-toolbar>
            <h3>Email</h3>
        </md-toolbar>

        <md-list>
            <md-list-item *ngFor="let item of menu">
                <i class="material-icons">menu</i>
                <h3>{{item.title}}</h3>
            </md-list-item>
            <md-subheader>Management</md-subheader>
            <md-list-item *ngFor="let item of menu">
                <i class="material-icons">menu</i>
                <h3>{{item.title}}</h3>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <!--<button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>-->

        Email App Angular2

        <span class="app-toolbar-filler"></span>
    </md-toolbar>

    <div class="app-content">
        <md-card>
            <router-outlet>
            </router-outlet>
        </md-card>
    </div>
</md-sidenav-layout>
<span class="app-action">
  <button md-fab><i class="material-icons md-24" (click)="goToRoute('Send')">add</i></button>
</span>
