<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="addUser()">
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>
<toolbar title="Emails"></toolbar>

<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>

        <md-card flex-gt-sm="90" flex-gt-md="80">
            <md-card-content>
                <md-list>
                    <md-list-item ng-repeat="email in emaillist | filter: isSelectedRole" ng-click="selectEmail(email.id)">
                        <md-item-content>
                            {{email}}
                            <div class="md-tile-content">
                                <span ng-repeat="sender in email.from">{{sender.name}}{{email.subject}}</span>
                               <!-- <h3>{{email.from.name}}</h3>
                                <h4>{{email.subject}}</h4>-->
                            </div>
                        </md-item-content>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>


    </ui-view>
</md-content>