<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>

        <div layout="column" layout-align="center">
            <div layout="row" layout-align="center center">
                <md-card>
                    <md-card-content>
                        <form name="userForm">
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Email</label>
                                    <input ng-model="email">
                                </md-input-container>
                                <md-input-container>
                                    <label>&nbsp;</label>
                                    <md-select ng-model="unknown"/>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Passwort</label>
                                    <input ng-model="pw" type="password">
                                </md-input-container>
                                <md-input-container>
                                    <label>&nbsp;</label>
                                    <md-select ng-model="unknown"/>
                                </md-input-container>
                            </div>
                            <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                                <md-button class="md-raised md-primary" ng-click="login()">Einloggen</md-button>
                            </section>
                        </form>

                    </md-card-content>

                </md-card>
            </div>
        </div>
    </ui-view>
</md-content>